@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@font-face {
  font-family: conthrax-bd;
  src: url(conthrax/Fontspring-DEMO-conthrax-bd.otf);
}
@font-face {
  font-family: conthrax-li-it;
  src: url(conthrax/Fontspring-DEMO-conthrax-lt-it.otf);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: 'Poppins';
}


:root {
  --body-color: #00033d;
  --prim-color: #5c27ff;
  --gradient-color: linear-gradient(264.28deg, #dec7ff 38.2%, #5c27ff 103.12%), rgba(255, 255, 255, 0.1);
  --white-color: #fff;
  --black-color: #000;
  --light-border: rgba(131,131,131,0.5);
  --light-text: #CDCED4;
   --extra-light-text: #999;
  --Kaushan-font: "Kaushan Script", serif;
  --Conthrax-light: conthrax-li-it;
  --Conthrax-bold: conthrax-bd;


  --transition: .3s;
  --transition2: .6s;
}

img{
  width: 100%;
  height: 100%;
}

section{
  width: 100%;
  padding: 5px 12%;
  display: flex;
  justify-self: center;
  align-items: center;
}

body{
  background-color: var(--body-color);
  overflow-x: hidden;
  color: var(--white-color);
}

/* NAVBAR */

nav{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12%;
}

.logo a{
  font-size: 2rem;
  font-weight: 600;
  font-family: var(--Kaushan-font);
  color: var(--white-color);
  background: var(--gradient-color);
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.logo a span{
  font-family: var(--Kaushan-font);
  color: var(--gradient-color);
}

.menu {
  display: flex;
  align-items:  center;
  gap: 20px;
}

.menu li a{
  color: var(--white-color);
  font-size: 1.2rem;
  font-weight: 400;
  transition: var(--transition);
}
.menu li:hover a{
   color: var(--prim-color);
}

.nav_btns {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav_btns i{
  font-size: 1.3rem;
  color: var(--white-color); 
  transition: var(--transition);
}

.nav_btns i:hover{
  color: var(--prim-color);
  cursor: pointer;
}

nav button{
  width: 150px;
}

button{
  width: 250px;
  height: 50px;
  border-radius: 5px;
  background: var(--gradient-color);
  background-size: 200% 200%;
  color: var(--white-color);
  border: none;
  font-size: 1.3rem;
  font-weight: 500;
  position: relative;
  cursor: pointer;
  transition: var(--transition);
  font-family: var(--Conthrax-light);
  font-weight: 600;
}

button:after{
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  width: 105%;
  height: 60px;
  border-radius: 5px;
  border: 1px solid var(--light-border);
  background: linear-gradient(89.96deg, rgba(255, 255, 255, 0.05) 0.03% ,rgba(255, 255, 255, 0.08) 49.67%, rgba(255, 255, 255, 0.05) 99.96% ,rgba(255, 255, 255, 0.05));
}

button:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: linear-gradient(90deg, rgba(255,255,255,0.13) 0px , rgba(255,255,255,0.13) 77%, rgba(255,255,255,0.5) 92% , rgba(255,255,255,0));
  background-size: 150% 150%;
  transition: var(--transition2);
}

button:hover:before{
   width: 100%;
   left: auto;
   right: 0;
}

.bars{
  display: none;
}

/* HERO HEADER*/

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  padding: 5% 12%;
  position: relative;
  z-index: 5;
}

.hero_shape {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgba(255,255,255,0) 46%, rgba(92,39,255,0.3) 100%);
  filter: blur(10px);
  z-index: -1;
}
.hero_content h1 {
  font-size: 3.5rem;
  line-height: 4rem;
  font-family: conthrax-bd;
}

.hero_content h1 span {
    background: var(--gradient-color);
  background-size: 300% 300%;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-family: conthrax-bd;
}

.hero_content{
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
}

.hero_content p{
  width: 80%;
  font-size: 1rem;
  font-weight: 500;
  color: var(--light-text);
  margin: 10px 0;
}


.hero_img {
  width: 50%;
  position: relative;
}

.hero_img img{
  width: 100%;
  border-radius: 65px;
}

.hero_img:after{
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-10deg);
  width: 100%;
  height: 100%; 
  border-radius: 65px;
  background-color: rgba(255, 255, 255, 0.1);

}

.hero_img:before{
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-25deg);
  width: 100%;
  height: 100%; 
  border-radius: 65px;
  background-color: rgba(255, 255, 255, 0.1);
 
}

.img_box{
  position: absolute;
  top: 10%;
  left: 80%;
  padding: 15px;
  width: 270px;
  border-radius: 10px;
  background-color: var(--white-color);
  display: flex;
  align-items: center;
  gap: 10px;
  animation: Anim_LR 5s infinite linear;

}

.img_box img {
  width: 60px;
  height: 60px;
  object-fit: cover;
}

.box_info{
  display: flex;
  flex-direction: column;
}

.box_info h2 {
   color: var(--black-color);
   font-size: .9rem;
   font-family: var(--Conthrax-bold);
}

.box_info h5 {
  font-size: 0.7rem;
  font-weight: 500;
   color: var(--black-color);
  
}

.img_box2 {
  width: 270px;
  top: 80%;
  left: -20%;
  animation: Anim_TB 5s infinite linear;
}



/* ABOUT SECTION */

.about {
  gap: 50px;
  position: relative;
}

.bg_shape {
  position: absolute;
  top: 70%;
  left: 0;
  width: 700px;
  height: 700px;
  background-color: var(--prim-color);
  filter: blur(100px);
  opacity: 0.2;

}

.robbot {
  width: 100%;
  height: 100%;
}

.robbot-3d {
  position: absolute;
  right: -20%;
  bottom: 15px;
  width: 100%;
  height: 100%;
  max-width: 1500px;        /* prevents too large */
  max-height: 900px;
  background: transparent;

}

#ch:checked ~ .content {
   display: block;
}

.content {
  display: none;
}

#ch {
  display: none;
}

#ch:checked ~ label {
  display: none;
}

label {
  display: inline-block;
  cursor: pointer;
  margin-top: 12px;
}



.about_content{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.Headings {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 20px 0;
}

.Headings h2{
   padding: 0px 15px;
   border: 1px solid var(--light-border);
   border-radius: 50px;
   background: var(--gradient-color);
   -webkit-text-fill-color: transparent;
   font-family: var(--Conthrax-bold);
   font-weight: 400;
   font-size: 1.3rem;
   background-clip: text;
   position: relative;
   
}

.Headings h2:aftre{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(89.96deg, rgba(255, 255, 255, 0.05) 0.03% ,rgba(255, 255, 255, 0.08) 49.67%, rgba(255, 255, 255, 0.05) 99.96% ,rgba(255, 255, 255, 0.05));
  border-radius: 50px;
}

.Headings h1 {
  font-size: 4rem;
  line-height:  4.5rem;
  font-family: var(--Conthrax-bold);
  font-weight: 300;

}

.about_content p{
  font-size: 1rem;
  color: var(--light-text);
  font-weight: 500;
  margin: 10px 0;
}

.about_content button{
   margin-top: 10px ;
}

/* OUR SPECIALITY */

.speciality,
.collection {
  flex-direction: column;
  gap: 50px;
  margin-top: 50px;
}

.speciality .Headings,
.collection .Headings,
.road_map .Headings {
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 70%;
 
}

.Headings p {
  font-size: 1rem;
  font-weight: 500;
  color: var(--light-text);
  width: 70%;
  margin-top: 20px;
  text-align: center;
  
}

.speciality_cards {
  width: 100%;
  display: grid;
  grid-template-columns:  repeat(4,1fr);
  place-content: center;
  place-items: center;
  gap: 30px;
}

.speciality_card {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  position: relative;
}

.speciality_card:after{
  content: '';
  position: absolute;
  top: 25%;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg , rgba(255,255,255,0) 40%, rgba(255,255,255,0.1) 100%);
  border-radius: 20px;
  z-index: -1;
}

.speciality_card img {
  width: 100px;
  height: 100px;
  padding: 5px;
  display: flex;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background: var(--gradient-color);
  transition: 1.5s;
}

.speciality_card:hover img {
  transform: rotateY(360deg);
} 

.speciality_card_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.speciality_card_info h2 {
  font-family: var(--Conthrax-bold);
  font-weight: 400;
  font-size: 1.5rem;
  transition: var(--transition);
}

 .speciality_card_info h2:hover {
  color: var(--prim-color);
  cursor: pointer;
}


.speciality_card_info p{
  font-size: 1rem;
  font-weight: 400;
  color: var(--light-text);
  margin: 10px 0;
}

.speciality_card_info h1 {
  font-size: 4rem;
  line-height: 4rem;
  font-weight: 500;
  font-family: var(--Conthrax-bold);
  opacity: 0.3;
  transition: var(--transition);
}

.speciality_card:hover .speciality_card_info h1 {
  opacity: 1;
}

/*  OUR COLLECTION */

.collection{
  padding: 5% 0%;
  flex-direction: column;
  gap: 50px;
}

.collectionSwiper{
  width: 100%;
}

.collection-box{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: rgba(131,131,131,0.1);
  border-radius: 10px;
  border: 1px solid var(--light-border);
  position: relative;
  cursor: pointer;
}

.collection_box_info h1{
  position: absolute;
  top: 80%;
  left: 50%;
  transform:  translate(-50%, -50%);
  padding: 10px 20px;
  width: 95%;
  text-align: center;
  font-family: var(--Conthrax-bold);
  font-weight: 500;
  font-size: 1.5rem;
  background-color: rgba(255,255,255,0.2);
  backdrop-filter: blur(10px);
}

.collection_box_img {
  width: 100%;
  overflow: hidden;
}

.collection-box:hover .collection_box_img img {
  transform: scale(1.1);
}

.collection_box_img img {
  border-radius: 10px;
  transition: var(--transition);
}

/* ROAD MAP & TEAM SEACTION */

.roadmap_Teams{
  margin-bottom: 3rem ;
  
}
.roadmap_Teams{
   flex-direction: column;
   gap: 50px;
   background-image: url();   
}

.road_map{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3rem;
}

.road_map button {
  margin-top: 55px;
  width: 300px;
}

.road_map_container{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 70px;
  margin-top: 50px;
  position: relative;

}

.road_map_container:after{
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1px;
  height: 100%;
  background-color: var(--prim-color);
}

.road_map_boxses {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 50px;
}

.road_map_box {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 2% 5%;
  background: linear-gradient(0deg , rgba(0,0,0,0) 0% , rgba(255,255,255,0.05)100%);
  border-radius: 20px;
  border: 1px solid var(--light-border);
  position: relative;
  cursor: pointer;
}

.road_map_box:after{
  content: '';
  position: absolute;
  top: 50%;
  left: 100%;
  width: 35px;
  height: 1px;
  background-color: var(--prim-color);
}

.road_map_box2:after{
  left: -5%;
}

.road_map_box:before{
  content: '';
  position: absolute;
  top: 48%;
  left: 104.5%;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: var(--prim-color);
}

.road_map_box2:before{
  left: -5.8%;
  top: 48.8%;
}

.road_map_box span{
  position: absolute;
  top: -20%;
  left: 2%;
  border-radius: 20px;
  padding: 5px 10px;
  font-family: var(--Conthrax-bold);
  font-weight: 400;
  border: 1px solid var(--light-border);
  background: var(--gradient-color);
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.road_map_box h2 {
  margin: 10px 0;
  font-family: var(--Conthrax-bold);
  font-weight: 400;
  font-size: 1.12rem;
  position: relative;
  transition: var(--transition);
}

.road_map_box:hover h2{
  background: var(--gradient-color);
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.road_map_box h2:after{
  content: '';
  position: absolute;
  top: 120%;
  left: 0;
  width: 100px;
  height: 2px;
  background: var(--gradient-color);
}
.road_map_box p {
  margin: 12px 0;
  font-size: 1rem;
  font-weight: 300;
  color: var(--light-text);
}

/* FOOTER */

.footer{
  gap: 10px;
  flex-direction: column;
  padding-bottom: 1%;
}

.footer_head{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.footer_menu{
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer_menu li a{
   color: var(--extra-light-text);
   font-size: 1.2rem;
   font-weight: 500;
   transition: var(--transition);
}

.footer_menu, li:hover a, i{
  color: var(--white-color);
}

.footer_scoial{
  display: flex;
  align-items: center;
  gap: 10px;
}

footer_scoial i{
  font-size: 1.3rem;
  color: var(--extra-light-text);
  transition: var(--transition);
}

.footer_scoial i:hover{
  color: var(--white-color);
  cursor: pointer;
}

.footer_bottom {
  padding: 10px;
  border-top: 1px solid var(--light-border);
  width: 200%;
}

.footer_bottom p {
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  color: var(--extra-light-text);
}



/* ANIMATION */

@keyframes Anim_LR {
    0% {
      transform: translatex(50px);
    }
    50% {
      transform: translatex(0px);
    }
    100% {
      transform: translatex(50px);
    }

  }

  @keyframes Anim_mini_LR {
    0% {
      transform: translatex(20px);
    }
    50% {
      transform: translatex(0px);
    }
    100% {
      transform: translatex(20px);
    }
}

@keyframes Anim_TB {
       0% {
      transform: translatey(-50px);
    }
    50% {
      transform: translatey(0px);
    }
    100% {
      transform: translatey(-50px);
    }
}

@keyframes Anim_mini_TB {
       0% {
      transform: translatey(-20px);
    }
    50% {
      transform: translatey(0px);
    }
    100% {
      transform: translatey(-20px);
    }
}


/* MQ section */

@media (max-width:1200px) {
  .hero_content h1 {
    font-size: 2rem;
    line-height: 2.5rem;
  }

  .img_box{
    left: 55%;
  }
    .img_box2{
    left: -10%;
  }

  .hero_content p{
    margin: 5px 0;
  }
  .Headings h1{
    font-size: 2.5rem;
    line-height: 3.5rem;
  }
  .robbot-3d {
    width: 70%;
  }

  .speciality_cards {
    grid-template-columns: repeat(3, 1fr);
  }
  
  .collection_box_info h2 {
    font-size: 1.5rem;
  }

  .collection-box_info {
    width: 92%;
  }
  .road_map_box:before{
  top: 47.5%;
  left: 107.5%;
}
.road_map_box2:after{
  left: -8.2%;
}

.road_map_box:after{
  width: 34px;
}

.road_map_box2:before{
  left: -10%;
  top: 48%;
}

.road_map_box p{
  font-size: 0.8rem;
}



}

@media (max-width:900px) {
  .bars {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    /*border: 1px solid var(--light-border);*/
    background: var(--gradient-color);
    background-size: 200% 200%;

  }
  nav{
    position: relative;
  }
  .menu {
    position: absolute;
    top: 100%;
    left: -100%;
    opacity: 0;
    flex-direction: column;
    align-items: flex-start;
    padding:1% 12%;
    width: 100%;
    border: 1px solid var(--light-border);
    background-color: rgba(0,0,0,0.5);
    backdrop-filter: blur(10px);
    z-index: 999;
    transition: var(--transition2);
  }
  .nav_btns i{
    display: none;
  }
  .menu li{
    padding: 10px 0;
  }
  .show_menu{
     left: 0;
     opacity: 1;
  }
  header,
  section{
    flex-direction: column;
    gap: 50px;
  }
  .hero_content,
  .about_content{
    width: 100%;
  }

  .hero_img{
    width: 70%;
  }

  .hero_content h1 {
    font-size: 3rem;
    line-height: 3.5rem;
  }

  .about {
    flex-direction: column-reverse;
  }

  .robbot-3d {
    display: none;
  }


     .speciality_cards {
    grid-template-columns: repeat(2, 1fr);
  }
    .speciality .Headings,
    .collection .Headings,
    .road_map .Headings {
    width: 80%;
  }

    .collection_box_info h2 {
    font-size: 2rem;
  }

  .collection-box_info {
    width: 95%;
  }

  .road_map_box:after,
  .road_map_box:before,
  .road_map_container:after{
    display: none;
  }

  .road_map_container{
    flex-direction: column;
  }

  .road_map_boxses{
    width: 100%;
  }

  .road_map_box p{
    font-size: 1rem;
  }

}

@media (max-width:767px) {
.nav_btns {
    display: none;
  }

  .hero_content p{
    width: 100%;
  }

  .img_box {
    left: 40%;
    top: -5%;
  }

  .img_box2{
    top: 80%;
    left: -7%;
  }
  .hero_img{
    width: 100%;
  }

  .hero_img:after{
    transform: translate(-50%, -50%) rotate(14deg);
  }
    .hero_img:before{
    transform: translate(-50%, -50%) rotate(8deg);
  }

  .Headings h1{
    font-size: 2rem;
    line-height: 3rem;
  }

  .robbot-3d {
    display: none;
  }

  .speciality_cards {
    grid-template-columns: repeat(1, 1fr);
  }

  .speciality .Headings,
  .speciality .Headings p,
  .collection .Headings,
  .road_map .Headings {
    width: 100%;
  }

  .speciality .Headings h1{
    font-size: 1.5rem;
    line-height: 2rem;
  }

 .collection_box_info h2 {
    font-size: 2.5rem;
  }

  .footer_head {
    flex-direction: column;
    gap: 10px;
  }
  .footer_menu{
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

  }

}





